<%- include('./partials/header') %>
  <div style="margin-top: 5%;"></div>
  <div class="container text-center">

    <h2>Métodos de Pago</h2>
    <br>
    <div class="container text-left">


      <p>
        En nuestro sistema de pagos, ofrecemos la flexibilidad de realizar pagos de manera segura y conveniente.
        Nuestros
        métodos de pago son diseñados pensando en su comodidad. Le brindamos dos opciones: <br> <br>

        1. Pago en Persona: Si prefiere un enfoque personal, estamos encantados de recibir sus pagos en nuestras
        ubicaciones
        físicas. Nuestro personal capacitado estará disponible para ayudarlo en cada paso del proceso. ¡Esperamos darle
        la
        bienvenida en persona! <br> <br>
        2. Pago mediante WhatsApp: Para una experiencia de pago rápida y sencilla, ofrecemos la opción de pago a través
        de
        WhatsApp. Le proporcionaremos un código QR único que puede escanear directamente desde su dispositivo móvil.
        Simplemente
        siga estos pasos: <br> <br>

        Abra WhatsApp en su teléfono.
        Escanee el código QR que le proporcionamos.
        Confirme la transacción y ¡listo! Su pago se procesará de manera segura.
        Estamos comprometidos a hacer que el proceso de pago sea lo más conveniente posible para usted. Elija el método
        que
        mejor se adapte a sus necesidades y no dude en ponerse en contacto con nuestro equipo de soporte si tiene alguna
        pregunta o necesita asistencia.
      </p>
    </div>
  </div>
  <div style="margin-top: 5%;"></div>
  <%- include('./partials/footer') %>