<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./style/login.css">
    <link rel="shotcut icon" type="img/logo" href="imagenes/img-login/icono fondo negro con blanco.svg">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
    <div class="back">
        <a href="/index">
            <i class="ri-arrow-left-line"></i>
            Back</a>
    </div>
    <div class="logo">
        <img src="./img/dorado.svg" alt="">
    </div>
    <div class="container-fluid mb-6">
        <h2 class="text-center mb-6">Inicio de sesión</h2>
        <form action="/login" method="POST">
            <div class="mb-3 col-12 col-md-6">
                <label for="email" class="form-label"><i class="ri-mail-fill"></i></label>
                <p> </p>
                <input type="email" class="form-control" name="email" placeholder="Ingresa tu email" required>
            </div>
            <% errors.forEach(err=> { %>
                <% if (err.path==='email' ) { %>
                    <span style="font-size: 10px;">
                        <%= err.msg %>
                    </span>
                    <% } %>
                        <% }); %>

                            <div class="mb-3 col-12 col-md-6">
                                <label for="password" class="form-label"><i class="ri-lock-2-fill"></i></label>
                                <input type="password" class="form-control" name="password"
                                    placeholder="Ingresa tu contraseña" required>
                            </div>
                            <% errors.forEach(err=> { %>
                                <% if (err.path==='password' ) { %>
                                    <span style="font-size: 10px;">
                                        <%= err.msg %>
                                    </span>
                                    <% } %>
                                        <% }); %>

                                            <% if(alertMsg){ %>
                                                <span class="validation">
                                                    <%= alertMsg%>
                                                </span>
                                                <% } %>



                                                    <button type="submit">Iniciar sesión</button>

        </form>
    </div>
</body>

</html>