<%- include('./partials/header') %>

  <div class="linea"></div>
  <div class="container mt-6 containerteam">
    <div class="row mt-4">
      <div class="col-md-6 img_team1">
        <img src="/img/Marisa.jpg" alt="marisaImagen" class="img-fluid">
      </div>
      <div class="col-md-6 description">
        <p>
          Marisa, una joven creativa con un ojo para la moda y un corazón apasionado por las tradiciones, creció en un
          pueblo
          donde cada ocasión especial estaba marcada por hermosos atuendos tradicionales. Desde temprana edad, quedó
          fascinada por
          la forma en que las prendas contaban historias, representaban la identidad de su gente y celebraban eventos
          importantes.
        </p>
      </div>
    </div>
  </div>



  <div class="container mt-6">

    <div class="row mt-4 caja-metas">
      <div class="col-md-6">
        <div class="titulo">
          <h2>Misión</h2>
        </div>
        <p>Brindar a los clientes ropa y accesorios tradicionales a precios accesibles que les permita sentirse cómodos,
          sea al
          agrado de sus gustos y necesidades y que se ajuste a su estilo personal.Brindar a los clientes ropa y
          accesorios tradicionales a precios accesibles que les permita sentirse cómodos, sea al agrado de sus gustos y
          necesidades y que se ajuste a su estilo personal. </p>
      </div>
      <div class="col-md-6">
        <div class="titulo">
          <h2>Visión</h2>
        </div>
        <p>Crecer como empresa en ofrecer un servicio de venta de productos, lograr satisfacer las necesidades de los
          clientes y
          que nos permita estar a la par con otras empresas ofreciendo una marca clásica y tradicional en el mercado de
          la moda.</p>
      </div>
    </div>
  </div>




  <div class="container mt-5">
    <div class="titulo">
      <h1>Nosotros</h1>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="card" style="border:none;">
          <img src="./imagenes/img-nosotros/1 (1).png" alt="Mariana Gutierrez" class="card-img-top">
          <div class="card-body">
            <h3>Mariana Gutierrez</h3>
            <p class="card-text">Community Manager</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="./imagenes/img-nosotros/1 (1).png" alt="Ivan Gutierrez" class="card-img-top">
          <div class="card-body">
            <h3>Ivan Gutierrez</h3>
            <p class="card-text">Community Manager</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="./imagenes/img-nosotros/1 (1).png" alt="Sofia Gutierrez" class="card-img-top">
          <div class="card-body">
            <h3>Sofia Gutierrez</h3>
            <p class="card-text">Community Manager</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="linea"></div>

  <%- include('./partials/footer') %>