<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#D09456">
    <link rel="stylesheet" type="text/css" href="/style/portada.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="shotcut icon" type="img/logo" href="imagenes/img-login/icono fondo negro con blanco.svg">
    <title>Marisa</title>
</head>

<body>
    <div class="abre">
        <div class="capa"></div>
    </div>
    <div class="portada-img">
        <a href="/index">
            <div class="imagenlogo">
                <img src="/img/logoMarisa.png" alt="">
            </div>
        </a>
    </div>
</body>

</html>