<%- include('./partials/header') %>
  <div style="margin-top: 5%;"></div>
  <div class="container text-center">

    <h2>Preguntas Fecuentes</h2>
    <br>

    <div class="container text-left">
      <p>
        Dónde están las oficinas de MarIsa?
        Nuestras oficinas se encuentran en la ciudad de Sucre, Hernando Siles, 17, Zona del Parque Bolivar, Bolivia
        Whatsapp: 72884186

        <br>
        <br>

        Cómo comprar en la página web?
        Para adquirir una prenda puedes comprarla online y nosotros te notificaremos cuando tu pedido esté en camino,
        también
        puedes comunicarte con nosotros a través de whatsapp +591 72884186 o email MarIsa-tradicional@gmail.com
        Hacemos envios a domicilio en Sucre y en todo el país.
        <br>
        <br>
        Se pueden hacer devoluciones?
        Se pueden hacer devoluciones dentro de los 3 primeros días de la compra, siempre y cuando la prenda no haya sido
        usada,
        ni dañada. El costo de envio para devolución no está incluído.
        <br>
        <br>

        Puedo comprar si vivo fuera de Bolivia?
        Para adquirir las prendas fuera de Bolivia, comunicarse previamente con MarIsa-tradicional@gmail.com
        <br>
        <br>

        Atención al cliente
        Si nos envía un correo electrónico sobre un pedido, proporcione el nombre completo con el que hizo el pedido en
        el
        asunto de su correo electrónico.
        <br>
        Si nos contacta con respecto a un cambio / error de dirección, envíe un correo electrónico con el asunto "**
        CAMBIO DE
        DIRECCIÓN **" después de su número de pedido.

        SERVICIO GENERAL AL ​​CLIENTE: MarIsa-tradicional@gmail.com

        SERVICIO AL CLIENTE HORARIO DE TRABAJO: lunes a viernes de 10 a.m. A 6 p.m

        Tenga en cuenta: no nos hacemos responsables de los aranceles aduaneros en su país, tiempos de retención o
        información

        de envío incorrecta proporcionada. Espere 48 horas de procesamiento de su pedido para recibir su número de
        seguimiento y
        / o confirmación de envío.
        <br><br>
        Ventas al por mayor
        Si quieres vender comuniquece al gmail MarIsa-tradicional@gmail.com
      </p>



    </div>
  </div>
  <div style="margin-top: 5%;"></div>
  <%- include('./partials/footer') %>